html {
    box-sizing: border-box;
}
    
*,
*::before,
*::after {
    box-sizing: inherit;
}
  
:root {
    --rock: #563e3a;
    --geyser: #d7dee6;
    --shark: #1c1f25;
    --shadow: #886748;
    --hoki: #607d9d;
    --mountbatten-pink: #927b87;
    --polo-blue: #8daeca;
    --thatch: #b3a08e;
    --jelly-bean: #2771a8;
    --shakespeare: #3597cd;
}
  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: var(--jelly-bean);
    color: var(--geyser);
    padding: 5px;
}

img {
    border-radius: 6px;
}
  
button.edit {
    margin: 20px;
    height: 50px;
    width: 200px;
    background-color: var(--thatch);
}
  
button.edit:hover{
    background-color: var(--shakespeare);
    cursor: pointer;
}
  
.checklist {
    margin: 20px;
    height: 50px;
    width: 200px;
    background-color: var(--thatch);
}
  
.checklist:hover{
    background-color: var(--shakespeare);
    cursor: pointer;
}

.countryPics {
    height: 200px;
    width: 300px;
    background-size: cover;
}