html {
    box-sizing: border-box;
  }
    
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  :root {
    --rock: #563e3a;
    --geyser: #d7dee6;
    --shark: #1c1f25;
    --shadow: #886748;
    --hoki: #607d9d;
    --mountbatten-pink: #927b87;
    --polo-blue: #8daeca;
    --thatch: #b3a08e;
    --jelly-bean: #2771a8;
    --shakespeare: #3597cd;
  }

  
  .card {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: var(--geyser);
    color: var(--shark);
    margin-bottom: 10px;
  }

  .imageBanner {
    background-size: cover;
    height: 200px;
    width: 300px;
    border-radius: 20px 20px 0px 0px;
  }

  .cardBody {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .cardHeader {
      display: flex;
      justify-content: center;
  }